@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
}

fieldset {
    width: 600px;
    border-color: #D2F898;
    background-color: black;
}

.container {
    min-height: 100vh;
    background-color: #2F2F2F;
    color: #F6F930;

    padding-left: 2rem;
    font-family: 'Fira Code', monospace, serif;
    font-size: 1.2rem;
}

.heading {
    margin-left: 4rem;
}

.formContainer {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 0.5rem;

    width: fit-content;
}

.myInput {
    grid-row: 1 / 3;
}
