@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
}

fieldset {
    width: 600px;
    border-color: #D2F898;
    background-color: black;
}

input {
    width: 350px;
    font-size: 1rem ;
}

button {
    font-family: inherit;
    font-size: 1rem;
}

label {
    margin-top: 1rem;
}

.container {
    min-height: 100vh;
    background-color: #2F2F2F;
    color: white;

    padding-left: 2rem;
    font-family: 'Fira Code', monospace, serif;
    font-size: 1.2rem;
}

.heading {
    margin-left: 4rem;
    color: #F6F930;
}

.formContainer {
    display: grid;
    grid-template: 1fr 1fr / 600px 1fr;
    gap: 0.5rem;

    width: fit-content;
}

.myInput {
    grid-row: 1 / 3;

    display: flex;
    flex-direction: column;
}

.inputSmallDiv {
    display: flex;
    gap: 0.5rem;
}

#balanceBtn {
    width: 400px;
}

.myOutput {
    font-size: 1rem;
}